#MainPane{
-fx-background-image:url(../images/Pharmacy4.jpeg);
}
#AnchorPaneLeft{
-fx-background-color:#4ccfd9;
-fx-background-radius:20px;
-fx-border-radius:20px;
-fx-border-color:#ffffff;
-fx-border-width:2px;

}

#AnchorPaneRight{
-fx-background-color: #4CCFD9;
-fx-background-radius:20px;
-fx-border-radius:20px;
-fx-border-color:#ffffff;
-fx-border-width:2px;
}
#AnchorPaneImage{
-fx-background-image:url(../images/Pharmacy2.jpeg);
-fx-background-repeat:no-repeat;
-fx-background-size:cover;
}
#LoginButton{
-fx-background-color:#6de75b;
}
#LoginButton:hover{
-fx-background-color:#6de75b;
-fx-cursor:hand;
}
#CancelButton{
-fx-background-color:#E56F56;

}
#CancelButton:hover{
-fx-background-color:#E56F56;
-fx-cursor:hand;
}
#AnchorPaneImage{
    -fx-padding:20;
}